@use '../../styles/global/import' as *;
@use '../../styles/config/import' as *;

@include pc {
  .btnReturn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin: #{$spaceM}px auto 0;
    position: relative;
    color: $primary;
    font-weight: $fwBold;
    @include hoverOpacity();
    &::before {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url(/img/icon-return.svg) no-repeat center / contain;
      content: "";
    }
  }
}

@include sp {
  .btnReturn {
  }
}
