@use '../../styles/global/import' as *;
@use '../../styles/config/import' as *;

@include pc {
  .headingLv1 {
    position: relative;
    padding-bottom: #{$spaceM}px;
    border-bottom: 1px solid $primary03;
    background-color: $primary02;
    &__text {
      display: block;
      margin-block: hl();
      font-size: 32px;
      font-weight: $fwBold;
      text-align: center;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 8px;
      left: 0;
      width: 100%;
      height: 3px;
      display: block;
      margin: 0 auto;
      background-color: $primary03;
    }
  }
}

@include sp {
  .headingLv1 {

  }
}
