@use '../../styles/global/import' as *;
@use '../../styles/config/import' as *;

@include pc {
  .logo {
    display: inline-block;
    @include hoverOpacity();
    position: relative;
    z-index: 100;
  }
}

@include sp {
  .logo {
    display: inline-block;
    @include hoverOpacity();
    position: relative;
    z-index: 100;
    width: vw(140);
    height: vw(36);
    img {
      width: 100%;
    }
  }
}
