@use '../../styles/global/import' as *;
@use '../../styles/config/import' as *;

@include pc {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: #{$spaceSS}px;
    width: fit-content;
    margin-inline: auto;
  }
}

@include sp {
  .gallery {
  }
}
