@use "../global/import" as *;
@use "../config/import" as *;

@font-face {
	src: url(/font/NotoSerifJP-Regular.ttf) format('truetype');
	font-family: "Noto Serif JP";
	font-weight: 400;
	font-display: swap;
}
@font-face {
	src: url(/font/NotoSerifJP-Medium.ttf) format('truetype');
	font-family: "Noto Serif JP";
	font-weight: 500;
	font-display: swap;
}
@font-face {
	src: url(/font/NotoSerifJP-Bold.ttf) format('truetype');
	font-family: "Noto Serif JP";
	font-weight: 700;
	font-display: swap;
}

body {
  font-family: "Noto Serif JP", sans-serif;
	word-break: break-all;
	overflow-wrap: break-word;
}

// pc・sp
p,li,dt,dd,a {
	line-height: $lhM;
	letter-spacing: $lsM;
}

h1,h2,h3,h4 {
  line-height: $lhS;
  letter-spacing: $lsM;
}

// image
img  {
	display: inline-block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

picture {
	display: block;
}

// pc
@include pc {
	p,li,dt,dd,a {
		font-size: #{$fzM}px;
	}
}

// sp
@include sp {
	p,li,dt,dd,a {
		font-size: vw($fzM);
	}
}
